<div class="con-login">

  <h3>Login</h3>

  <form [formGroup]="loginForm"  (ngSubmit)="login()" class="example-form">
    <div class="form-field">
      <label >Email :</label>
      <input  placeholder="Enter your email here" formControlName="email">
    </div>
    <div class="form-field">
      <label >password:</label>
      <input type="password" matInput placeholder="enter password" formControlName="password" >
    </div>
  </form>
  <button class="login-btn" (click)="login()" class="btn btn-primary"> Login</button>
  <h6>dont have an account ? </h6>
  <a routerLink="/register" >Register</a>

</div>