<div class="con-login">

    <h3>Register</h3>
  
    <form [formGroup]="signUpForm"  (ngSubmit)="signUp()" class="example-form">
        <div class="form-field">
            <label >Name :</label>
            <input  placeholder="Enter your name here" formControlName="name">
          </div>
      <div class="form-field">
        <label >Email :</label>
        <input  placeholder="Enter your email here" formControlName="email">
      </div>
      <div class="form-field">
        <label >password:</label>
        <input type="password" matInput placeholder="enter password" formControlName="password" >
      </div>
    </form>
    <button class="login-btn" (click)="signUp()" class="btn btn-primary"> Register new user</button>
    <h6> already have an account ? </h6>
    <a routerLink="/" >Login</a>
  
  </div>