.con-login{
    margin: 48px;
    background-color :white;
    -webkit-box-shadow: 2px 2px 4px 1px #fff;
    box-shadow: 2px 2px 2px 1px grey;
    display: flex;
    align-items: center;
    justify-content: center
}

.form-field{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex

}
.form-field label{
   flex:1
}
.form-field input{
   flex:1

}
.con-login{
    display: flex;
    flex-direction: column;
}

